<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Fourier Transform</title>
  <link href="src/css/index.css" rel="stylesheet" type="text/css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/11.6.0/math.js"
    integrity="sha512-RefYJFvLbj6WnGkdf40i7tlnvORh5VhCXuyaYRrj0hu5y0aHMCO1ROPLnRfMzbZ7SJqCYaQ92EAsGf9OyY9BNQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="importmap">
    {
      "imports": {
        "utils": "https://avalanche000.github.io/utils/index.js"
      }
    }
  </script>
  <script src="src/js/index.js" type="module" defer></script>
</head>

<body>
  <canvas id="inputCanvas"></canvas>
  <canvas id="outputCanvas"></canvas>
  <input id="sectionsSlider" type="range">
  <input id="epicyclesSlider" type="range">
  <input id="speedSlider" type="range">
  <input id="timeSlider" type="range">
</body>

</html>